.d-flex{
display: flex;
	
}

.flex-row{
	flex-direction: row;
}
.flex-row-revers{
	flex-direction: row-reverse;
}
.flex-column{
	flex-direction: column;
}
.flex-column-rewers{
	flex-direction: nowrap;
}

/*justify*/
.justify-content-start{
	justify-content: flex-start;
}

.justify-content-end {
	justify-content: flex-end;
}

.justify-content-center{
	justify-content :center;
}

.justify-content-beetween{
	justify-content :space-between;
}

.justify-content-around{
	justify-content :space-around;
}
/*align-items*/

.align-items-start{
	align-items: flex-start;
}

.align-items-end{
	align-items:flex-end;
}

.align-items-center{
	align-items:center; 
}

.align-items-baseline{
	align-items:baseline; 
}

.align-items-stretch{
	align-items:stretch; ;
}

/*align-content*/
.align-content-start{
	align-content:flex-start;
}
.align-content-end{
	align-content:flex-end;
}
.align-content-center{
	align-content:center;
}
.align-content-between{
	align-content:space-between;
}
.align-content-around{
	align-content:space-around;
}

/*align-self*/

.align-self-start{
	align-self:flex-start;
}
.align-self-end{
	align-self:flex-end;
}
.align-self-center{
	align-self:center;
}
.align-self-baseline{
	align-self:baseline;
}
.align-self-stretch{
	align-self:stretch;
}

/*order*/
.order1{

}
.order2{

}
.order3{

}
.order4{

}
.order5{

}
.order6{

}
.order7{

}
.order8{

}
.order9{

}
.order10{

}
.order11{

}
.order12{
	
}